p{
    margin: 0;
    padding: 0;
}


#addresstitle{
    margin: 10px 0;
    font-size: 25px;
    font-weight: 500;
}


/* .adress button{
    background-color: black;
    color: #fff;
    height: 60px;
    width: 300px;
    margin-top: 30px;
}

.adress button:hover{
    background-color: rgb(22, 21, 21);
    color: #fff;
} */

.addbtn{
    background-color: black;
    color: #fff;
    height: 60px;
    width: 300px;
    margin-top: 10px;
    border: none;
}

.addbtn:hover{
    background-color: rgb(22, 21, 21);
    color: #fff;
}


.custom-select{
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid black;
    height: 45px;
}

.detail,.name{
    border-radius: 0;
    border: 1px solid black;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
}

.contact{
    border-radius: 0;
    border: 1px solid black;
    height: 45px;
    width: 100%;
    padding: 0 10px;
}

.delete{
    width: 60px;
    height: 30px;
}