.title{
        margin: 10px 0 10px 10px;
        font-size: 30px;
        font-weight: 300;
        padding-right: 10px;
        cursor: pointer;
}

/* #close{
    font-size: 25px;
    cursor: pointer;
    margin:5px 10px 10px 0;
} */