<div id="closediv">
    <p id="title" class="fl">INFORMATION</p>
    <a id="close" class="fr" onclick="hidelogin();">X</a>
</div>
<p>
    <a href="" [routerLink]="['/information']" onclick="hidelogin();">我的账户</a>
</p>
<p>
    <a href="" [routerLink]="['/order']" onclick="hidelogin();">订单</a>
</p>
<p>
    <a href="" [routerLink]="['/cart']" onclick="hidelogin();">购物车</a>
</p>
<p>
    <a href="" onclick="hidelogin();">退出</a>
</p>
<hr style="height:1px;border:none;border-top:1px solid #9e9e9e;" />

<p id="foot">
    全场满额免运费
</p>
    



