/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.w{
    width: 1250px;
    margin: 0 auto;
}

.contain{
    overflow: hidden;
    height: 100%;
}

ul li{
    list-style: none;
}